{% extends "Layout.html" %}


{% block content %}


    <form action="{% url 'PMenu3' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">

                <label for="number1">Birinci Sayı</label>
                <input type="number" name="number1" class="form-control" placeholder="Birinci Sayı" required>
                
            </div>

            
            
            <div class="form-group">

                <label for="number2">İkinci Sayı</label>
                <input type="number" name="number2" class="form-control" placeholder="İkinci Sayı" required>
            
            </div>
            
            <button type="submit" class="btn btn-primary btn-block">Topla</button>
            
            <div class="mt-5">
                <h3>İKİ SAYININ TOPLAMI : {{Toplam}}</h3>
            </div>

    </form>
   



{% endblock %}

