{% extends "Layout.html" %}


{% block content %}
    
    
        <h1 class="text-center mb-4 text-muted font-italic">White Paper (AnaSayfa)</h1>
        <blockquote class="blockquote border-dark border-left border-right pl-5 pr-5">

            <p class="text-justify lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati provident ea explicabo voluptatem ipsum cum,
                iusto deserunt cupiditate id minus rem laborum eligendi maxime quod consectetur sint dignissimos consequuntur?
                Magni necessitatibus perspiciatis hic exercitationem harum ipsa quod, beatae error soluta debitis repellat iusto.
                A dolores magni quae modi odio non qui rem libero ea alias? Optio,
                    porro odio quibusdam exercitationem sit quaerat laudantium possimus sunt deleniti obcaecati eveniet maxime quos alias,
                    praesentium fugit! Deleniti deserunt alias modi et culpa sed saepe adipisci esse ipsa asperiores temporibus iusto rem ipsum
                    illo cumque, itaque facere quam sapiente nostrum pariatur sequi doloribus excepturi placeat in. Soluta atque voluptatum eum
                    nostrum doloribus corporis at eaque, adipisci, quos accusantium, cum quod! Libero, aut exercitationem aspernatur similique
                        quidem accusantium dolorem voluptate at? Saepe architecto dicta amet vitae ratione, velit ullam tempora corporis ad blanditiis magni hic totam deleniti accusantium.
                    Nostrum deleniti consectetur, cumque, voluptate molestiae tempora natus illo nisi, delectus perspiciatis eos!
                Sed, veniam incidunt cumque quia repellat perspiciatis harum blanditiis, ratione iusto nostrum exercitationem aut.
            </p>
            <footer class="blockquote-footer">M.M.C.P Team</footer>
        </blockquote>
    
{% endblock %}